companyId=L"20096"
textEmbeddingCacheTimeout=I"604800"
textEmbeddingProviderConfigurationJSONs=[ \
  "\{\"attributes\":\{\"accessToken\":\"\",\"hostAddress\":\"http://txtai:8000\",\"maxCharacterCount\":500,\"model\":\"\",\"modelTimeout\":25,\"textTruncationStrategy\":\"beginning\"\},\"embeddingVectorDimensions\":384,\"languageIds\":[\"en_US\",\"fr_FR\"],\"modelClassNames\":[\"com.liferay.blogs.model.BlogsEntry\",\"com.liferay.knowledge.base.model.KBArticle\",\"com.liferay.message.boards.model.MBMessage\",\"com.liferay.journal.model.JournalArticle\",\"com.liferay.wiki.model.WikiPage\"],\"providerName\":\"txtai\"\}", \
  ]
textEmbeddingsEnabled=B"true"
